.cards {
    margin: 1rem 10rem;
    background-color: aqua;
    height: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: -0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}