.cards {
    margin: 1rem 10rem;
    background-color: aqua;
    height: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: -0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.recommened {
    background-color: aqua;
    padding: 0.5rem;
    width: 8rem;
    margin: 0rem 3rem;
    border-radius: 10px;
    box-shadow: -0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.banner {
    background-color: aqua;
    height: 16rem;
    margin: 1rem;
    border-radius: 10px;
    padding: 2rem;
    clip-path:  inset(100%);
}

.bannerTittle {
    font-size: 3rem;
}

.bannerdescription {
    margin-top: 4rem;
    font-size: 1.2rem;
}

.bannerShadow {
    filter: drop-shadow(-0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5));
}

.pencil {
    position: absolute;
    left: 30rem;
    bottom: -3rem;
}
